name: Renovate
on:
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
  issues: write
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v46.1.2
        with:
          token: ${{ github.token }}
        env:
          RENOVATE_AUTODISCOVER: 'true'
          RENOVATE_FORK_PROCESSING: 'enabled'
